<div class="login-page">
  <!-- Left Section for Image -->
  <div class="left-section">
    <h1>Welcome to Our Platform</h1>
    <p>Sign in to access amazing features.</p>
    <img src="<%= asset_path('Login.gif') %>" alt="Welcome Image">
  </div>
  <!-- Right Section for Login Form -->
  <div class="right-section">
    <div class="login-container">

      <h2>Log in</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { id: "login-form", onsubmit: "return validateForm()" }) do |f| %>
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "email" %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password", id: "password" %>
        </div>
        <div class="actions">
          <%= f.submit "Log in", id: "login-submit" %>
        </div>
      <% end %>
      <div class="devise-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'login', 'data-turbo-track': 'reload' %>
